{
    "base_url": "https://yourdomain.com",
    "ws_url": "wss://yourdomain.com/ws",
    "use_cloudflare": true,
    "local_api_key": "must_match_app_settings_on_server",
    "CF-Access-Client-Id": "your-cloudflare-client-id.access",
    "CF-Access-Client-Secret": "your-cloudflare-client-secret-hex-string"
}